{% extends 'webapp/base.html' %}

{% block content %}
    
    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> Jewelry store... Management at it's finest! </h3>

            <br>

            <h5> Welcome to our exquisite world of timeless elegance and unparalleled craftsmanship, where every piece tells a story of beauty and sophistication. Explore our stunning collection of jewelry creations and indulge in the luxury of fine craftsmanship. </h5>

            <hr>
            <br>

            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>

        </div>

    </body>        


{% endblock %}