{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <i class="fa fa-cube" aria-hidden="true"></i> &nbsp;

            <strong>
                {{ four.nom_four|upper }}
            </strong>

            <hr> 

            <p> <strong>ID:</strong> {{ four.id }} </p>
            <p> <strong>Nom:</strong> {{ four.nom_fournisseur }} </p>
            <p> <strong>Adresse:</strong> {{ four.adresse_fournisseur }} </p>
            <p> <strong>Téléphone:</strong> {{ four.tel_fournisseur }} </p>
        </div>
    </div>

    <br>

    <a href="{% url 'four' %}" class="btn btn-secondary">Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-four' four.id %}" class="btn btn-info">Update fournisseur &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'delete-four' four.id %}" class="btn btn-danger">Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i> </a>

{% endblock %}
